<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>编辑订阅</title>
</head>
<body>
  <form action="/subscribers/edit/<%=doc._id%>" method="POST">
      <% var enddate = new Date(doc.enddate);
      var year = enddate.getFullYear();
      var yearstring = year.toString();
      var month = enddate.getMonth()+1;
      var monthstring = month.toString();
      var date = enddate.getDate();
      var datestring = date.toString();
      if (!monthstring[1]){monthstring = "0" + monthstring;}
      if (!datestring[1]){datestring = "0" + datestring;}
      var endstring = yearstring + '-'+monthstring + '-' + datestring; %>
      <% var startdate = new Date(doc.startdate);
      var year2 = startdate.getFullYear();
      var yearstring2 = year2.toString();
      var month2 = startdate.getMonth()+1;
      var monthstring2 = month2.toString();
      var date2 = startdate.getDate();
      var datestring2 = date2.toString();
      if (!monthstring2[1]){monthstring2 = "0" + monthstring2;}
      if (!datestring2[1]){datestring2 = "0" + datestring2;}
      var startstring = yearstring2+ '-' + monthstring2 + '-' + datestring2; %>
    <label>姓名<input name="personname" type="text" value="<%=doc.personname%>"></label><br/>
    <label>公司<input name="companyname" type="text" value="<%=doc.companyname%>"></label><br/>
    <label>起始日期<input name="startdate" type="date" value="<%=startstring%>"></label><br/>
    <label>截止日期<input name="enddate" type="date" value="<%=endstring%>"></label><br/>
    <label>街道<input name="street" type="text" value="<%=doc.street%>"></label><br/>
    <label>门牌号<input name="streetnumber" type="text" value="<%=doc.streetnumber%>"></label><br/>
    <label>区域<input name="area" type="text" value="<%=doc.area%>"></label><br/>
    <label>城市<input name="city" type="text" value="<%=doc.city%>"></label><br/>
    <label>邮编<input name="tk" type="text" value="<%=doc.tk%>"></label><br/>
    <label>国家<input name="country" type="text" value="<%=doc.country%>"></label><br/>
    <label>订阅费<input name="fee" type="text" value="<%=doc.fee%>"></label><br/>
    <label>备注<input name="comment" type="text" value="<%=doc.comment%>"></label><br/>
    <label>收款人<input name="responsibleperson" type="text" value="<%=doc.responsibleperson%>"></label><br/>
    <label>电话<input name="phone" type="text" value="<%=doc.phone%>"></label><br/>
    <input type="submit" onclick="return confirm('确认提交吗？')">
  </form>
</body>
</html>
